.DS_Store
LICENSE.txt
README.txt
~installation
installation/
configuration.php
robots.txt.dist
.htaccess
logs/*
!logs/index.html
cache/*
!cache/index.html
tmp/*
!tmp/index.html
templates/crossinghippos/.sass-cache