/*
-----------------------------------------------------------------------------
Box
-----------------------------------------------------------------------------
*/

.box {
	border: 1px solid lighten($dirt, 20%);
	border-color: rgba($dirt, .15);
	@include border-radius(10px);
	padding: inherit;
}
	.box--padded {
		padding: rhythm(.5);
	}
	.box--filled {
		background: lighten($dirt, 20%);
		background: rgba($dirt, .15);
	}
	.box--primary {
		background: $color-primary;
		&.outline {
			border-color: $dirt;
		}
		.box__title {
			color: $color-background;
		}
	}
	.box--stream {
		@include vertical-rhythm(12, min-height);
	}

	.box--projects {
		@include vertical-rhythm(12, min-height);
	}

	.box__title {
		@include adjust-font-size-to($l,1.25);
	}


/*
-----------------------------------------------------------------------------
Post - needs to be moved
-----------------------------------------------------------------------------
*/

.post {
	position: relative;
}
	.post__time {
		position: absolute;
		bottom: 0;
	}