/*
-----------------------------------------------------------------------------
Main Navigation
-----------------------------------------------------------------------------
*/
.btn {
	background: $chred;
	color: $color-background;
	&:hover {
		background: lighten($chred, 10%);
	}
}
	.btn--large {
		@include padding-leader(.5);
		@include padding-trailer(.5);
		text-align: center;
		@include adjust-font-size-to($ml, 1);
	}

	.btn--icn {
		display: inline-block;
		@include padding-leader(.5);
		@include padding-trailer(.5);
		@include column-spacing;
		&:hover {
			color: $color-background;
		}
	}

	.btn--twitter,
	.btn--facebook,
	.btn--googleplus {
		&>.icn {
			display: inherit;
			&::before {
				display: inherit;
				@include adjust-font-size-to($ml, 1);
				vertical-align: middle;
			}
		}
	}

	.btn--twitter {
		background: #5bd6fe;
		&:hover {
			background: lighten(#5bd6fe, 10%);
		}
	}

	.btn--facebook {
		background: #3b5998;
		&:hover {
			background: lighten(#3b5998, 10%);
		}
	}

	.btn--googleplus {
		background: #d73d32;
		&:hover {
			background: lighten(#d73d32, 10%);
		}
	}