.hd {
	@include font-family($bree-bold);
	@include font-weight($bree-bold);
}

.hd--a {
	@include font-family($bree-regular-italic);
	@include font-style($bree-regular-italic);
}

.hd--section {
	@include adjust-font-size-to($xl);
	@include vertical-rhythm(.5, margin-top);
	@include vertical-rhythm(.5, margin-bottom);
}

.hd--item {

}

.hd--article {
	// position: relative;
	// @include vertical-rhythm(.5, bottom);
	@include vertical-rhythm(.5, margin-bottom);
	@include adjust-font-size-to($xl,2);
    text-decoration: none;
	color: $color-body;
}

.hd__article--title{
	color: $chgrey--hex;
	@include adjust-font-size-to($l);
}

.hd__article--title:visited{
    color: $chred--hex;
}