/*
-----------------------------------------------------------------------------
Adaptive menu
-----------------------------------------------------------------------------
*/

.adaptive-menu {

}
	.adaptive-menu__trigger {
		display: none;
	}
	.adaptive-menu__item {
		
	}
		.adaptive-menu__item--active {
			
		}
		.adaptive-menu__item--inactive {
			
		}



/*
-----------------------------------------------------------------------------
Main Navigation
-----------------------------------------------------------------------------
*/

/* Breakpoints */
@include breakpoint($lt-small)
{

}

/* Styling for main navigation */
.main-nav {
	position: fixed;
	z-index: 2;
	width: 100%;
	border-bottom: 1px solid rgba($dirt--rgb, .2);
	padding: vertical-rhythm(.5) 0;
	@include navigation-background;
	@include font($bree-serif-regular);
}
	.item-101,
	.item-109,
	.item-110,
	.item-111,
	.item-112 {
		color: $anchor-color;
		&.active {
			color: $color-body;
		}
	}
	.item-109,
	.item-110,
	.item-111,
	.item-112 {
		@include column-spacing(1);
	}
	.item-101 {
		@include horizontal-rhythm(1/2, padding-left);
		@include horizontal-rhythm(1, padding-right);
	}
	.main-nav__item,
	.main-nav__item:visited {
		text-decoration: none;
		color: inherit;
		&:hover {
			color: $anchor-color-hover;
		}
	}


	/*
	-------------------------------------------------------------------------
	Adaptive menu
	-------------------------------------------------------------------------
	*/

	@include breakpoint($lt-small)
	{
		.main-nav {
			// position: static;
		}
		.adaptive-menu {
			text-align: right;
		}
			.adaptive-menu__item {
				position: fixed;
				overflow: hidden;
				z-index: 3;
				top: 0;
				right: 0;
				width: 0%;
				height: 100%;
				@include navigation-background;
				@include box-shadow(0 -5px 20px 0 rgba($dirt--rgb, .3), -5px 0 20px 0 rgba($dirt--rgb, .3));
				text-align: left;
				@include transition(width 1s ease-in-out);
			}

			.is--active .adaptive-menu__trigger,
			.is--inactive .adaptive-menu__trigger {
				position: relative;
				right: 0;
				display: inline-block;
				@include column-spacing();
				@include transition(all 1s ease-in-out);
				@include adjust-font-size-to(24px,.5);
				vertical-align: middle;
			}
			.is--active {
				.adaptive-menu__item { width: 50%; }
				.adaptive-menu__trigger { right: 50%; }
			}
			.is--inactive {
				.adaptive-menu__item { width: 0%; }
				.adaptive-menu__trigger { right: 0; }
			}

				.item-101,
				.item-109,
				.item-110,
				.item-111,
				.item-112 {
					@include column(1);
					/* Reset padding */padding: 0;
					border-bottom: 1px dashed $line-dirt;
				}
				.main-nav__item {
					@include column(1);
					@include vertical-rhythm(.5, padding-top);
					@include vertical-rhythm(.5, padding-bottom);
				}
	}
