.itemid-110 {
	background: rgba($dirt--rgb, .2);
}
.projects {
	.tags {
		@include font($bree-light);
		@include adjust-font-size-to($s, 1);
	}
	.tags__anchor {
		@include font($bree-light);
		color: $color-body;
	}
}
.projects__item {
	text-align: center;
}

@include breakpoint($gt-large)
{
	.article__intro-image {
		@include column-spacing;
	}	
}
