.itemid-110 {
	background: rgba($dirt--rgb, .2);
}
.projects {
	.tags {
		@include font($bree-light);
		@include adjust-font-size-to($s, 1);
	}
	.tags__anchor {
		@include font($bree-light);
		color: $color-body;
	}
}
.projects__item {
	text-align: center;
}

@include breakpoint($gt-large)
{
	.article__intro-image {
		@include column-spacing;
	}
	.projects__item {
		@include column-width(1/4);
	}
}

@include breakpoint($gt-medium $lt-large)
{
	.projects__item {
		@include column-width(1/3);
	}
}


@include breakpoint($gt-small $lt-medium)
{
	.projects__item {
		@include column-width(1/2);
	}
}

@include breakpoint($lt-small)
{
	.projects__item {
		// @include column-width(1/3);
	}
}
