.streams-filter {

}
	.streams-filter__anchor {
		color: rgba($dirt--rgb, .2);
	}
	.streams-filter__anchor--current {
		color: $color-body;
	}
	.streams-filter__anchor--active {
		color: $anchor-color;
	}