.stream {
	
}

.postimage {
	max-width: 100%;
	border-radius: 5px;
    margin-top: 15px;
}

.post__title {
    margin-top: 10px;

    a {
        text-decoration: none;
    }
}

.box__userlink {
	text-decoration: none;
	color: $lightseagreen
}

.box__username {
	margin-left: 5px;
}

.box__posttime {
	font-size: $font-size-s;
}

.description
{
	border-radius: 5px;
    margin-top: 15px;
    max-height: 200px;
    min-height: 130px;
    overflow: hidden;
    max-width: 100%;

    img {
    	max-width: 100%;
    	border-radius: 5px;
    }

    a {
        text-decoration: none;
    }
}

.description--small
{ 
    max-height: 100px;
    min-height: 50px;
}