/*
-----------------------------------------------------------------------------
Title navigation
-----------------------------------------------------------------------------
*/


	/*
	-----------------------------------------------------------------------------
	All breakpoint
	-----------------------------------------------------------------------------
	*/

	.title-navigation {
		display: inline-block;
		@include column-spacing(1/2, true);
		a {
			@extend .btn-base;
			position: relative;
			padding-right: 1em; /* This is to allow for indication icons */
		}
		.icn {
			position: absolute;
			right: 0;
			line-height: inherit !important;
		}
	}
		.title-navigation.is--active {
			position: absolute;
			@extend .box;
			@include column-spacing(1/2);
			@include navigation-background;
			a {
				display: block;
			}
			.title-navigation__items {
				@include show();
			}
		}
		.title-navigation.is--inactive {
			@include column-spacing(0);
			.title-navigation__items {
				@include hide();
			}
		}
	.parent {
		display: inline-block;
		vertical-align: top;
	}
	
	@include breakpoint($gt-small) {
		.w-title-navigation {
			@include adjust-font-size-to(18px,1);
		}
	}
