/*
-----------------------------------------------------------------------------
Title navigation
-----------------------------------------------------------------------------
*/


	/*
	-----------------------------------------------------------------------------
	All breakpoint
	-----------------------------------------------------------------------------
	*/	

.w-sub-nav {
		position: relative;
		@include vertical-rhythm(1.5, "padding-top");
	}
	.sub-nav {
		position: absolute;
		top: 0;
		width: 100%;
		@include vertical-rhythm(1.5, "max-height");
		.parent,
		.ui-dropdown {
			display: inline-block;
		}
		.parent {
			display: inline-block;
			vertical-align: top;
		}
	}
	.ui-dropdown {
		position: relative;
		>li {
			position: absolute;
			top: 0;
			left: -1000em;
			&.active,
			&.current {
				position: static;
				&::after {
					// @extend .icn;
					// @extend .icn-arrow-down:before;
				}
			}
		}
		a {
			white-space: nowrap;
		}
		&:hover {
			padding-top: rhythm(1);
			>li {
				position: static;
				&.current {
					position: absolute;
					left: vertical-rhythm(1/2);
					&>a::before {
						@extend .icn;
						@extend .icn-checkmark:before;
					}
					&::after {
						content: "";
					}
				}
			}		
		}
	}


				