/*
-----------------------------------------------------------------------------
Title navigation
-----------------------------------------------------------------------------
*/


	/*
	-----------------------------------------------------------------------------
	All breakpoint
	-----------------------------------------------------------------------------
	*/	

.w-sub-nav {
	position: relative;
	@include vertical-rhythm(1.5, padding-top);
}
.sub-nav {
	position: absolute;
	top: 0;
	width: 100%;
	@include vertical-rhythm(1.5, max-height);
	.parent,
	.ui-dropdown {
		display: inline-block;
	}
	.parent {
		display: inline-block;
		vertical-align: top;
	}
	li {
		@include column-spacing;
		font-weight: 300;
		&:hover {
			background: inherit;
			color: $anchor-color-hover;
		}
		&.active {
			font-weight: inherit;
		}
	}
}

.cat-nav__options {
	// position: relative;
	margin-left: 0;
	@include transition(margin-left .2s ease-in);
	a {
		white-space: nowrap;
	}
}
.cat-nav__options--active,
.cat-nav__options--inactive {
	>li {
		&::after {
			@include horizontal-rhythm(1/4, margin-left);
			@extend .icn;
		}
	}
}
.cat-nav__options--inactive {
	.current {
		&::after {
			content: "\e614";
		}
	}
	>li {
		position: absolute;
		top: 0;
		left: -1000em;
		&.active,
		&.current {
			position: static;
		}
	}
}
.cat-nav__options--active {
	z-index: 1;
	// padding-top: rhythm(1);
	border: 1px solid rgba($dirt, .2);
	border-top: 0;
	@include box-shadow(0 0 20px 0 rgba($dirt--rgb, .3), -5px 0 20px 0 rgba($dirt--rgb, .3));
	@include navigation-background;
	@include horizontal-rhythm(1/4, margin-left);
	@include vertical-rhythm(-1/4, margin-top);
	@include vertical-rhythm(1/4, padding-top);
	@include vertical-rhythm(1/4, padding-bottom);
	>li {
		position: static;
		&.current {
			// position: absolute;
			// left: 0;
			// background: rgba($dirt, .2);
			// @include vertical-rhythm(1/4, padding-top);
			&::after {
				content: "\e613";
				color: $color-primary;
			}
		}
	}		
}


	/*
	-----------------------------------------------------------------------------
	Breakpoint
	-----------------------------------------------------------------------------
	*/

	@include breakpoint($lt-small) {

		.w-sub-nav {
			@include vertical-rhythm(2.5, padding-top);
		}
		.sub-nav {
			@include vertical-rhythm(1, top);
		}
	}