.twitter { 
	background-color: #00ACED;
}

.github {
	background-color: #7BBF6A;
}

.dribbble {
	background-color: #F05F96;
}

.flickr {
	background-color: #0063DB;
}

.behance {
	background-color: #4797D0;
}

.facebook {
	background-color: #3B5998;
}