
.lt-gutters--half {
	@include column-spacing(1/4);
}
.lt-gutters--fourth {
	@include column-spacing(1/8);
}
.lt-vertical-padding {
	@include padding-leader(.5);
	@include padding-trailer(.5);
}

.main {
	@include vertical-rhythm(2, margin-top);	
}

.lt-prime,
.lt-alpha,
.lt-beta {
	@include column-behavior;
}

.lt-prime {
	&::after {
		display: table;
		width: 100%;
	}
}
.lt-alpha {
}
.lt-beta {
}

@include breakpoint($lt-large) {
	.lt-prime {
		@include column-width(1/1);
	}
	.lt-alpha,
	.lt-beta {
		@include column-width(1/2);
	}
}

@include breakpoint($lt-medium) {
	.lt-prime,
	.lt-alpha,
	.lt-beta {
		@include column-width(1/1);
		@include column-spacing(3/1);
	}
}

@include breakpoint($gt-medium) {
	.lt-prime,
	.lt-alpha,
	.lt-beta {
		position: relative;
	}
	.lt-prime {
		@include column-width(1/2);
		@include move(1/4);
	}
	.lt-alpha,
	.lt-beta {
		@include column-width(1/4);
	}
	.lt-beta {
		// text-align: right;
	}
	.lt-prime--alpha,
	.lt-prime--alpha-beta {
		&+.lt-alpha {
			@include move(1/4);
		}
	}
	.lt-prime--beta {
		&+.lt-beta {
			@include move(-2/4);
		}
	}
	.lt-prime--alpha-beta {
		&+.lt-alpha {
			&+.lt-beta {
				@include move(-3/4);
			}
		}
	}
}