.navbar {
	ul {

	}
	li {
		display: inline-block;
	}
	.active {
		a {
			color: $color-accent;
			&:visited {
				color: $color-accent;
			}
		}
	}
	a {
		text-decoration: none;
	}
	a,
	&:visited,
	&:active {
		color: inherit;
	}
}