/* line 41, ../sass/_reset.scss */
html {
  font: normal normal 300 106.25%/1.5em "Yanone Kaffeesatz", "Open Sans", Arial, sans-serif;
  vertical-align: baseline;
  font-synthesis: none;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums diagonal-fractions;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
  color: #362f2d;
}

/* line 68, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 76, ../sass/_reset.scss */
a {
  outline: 0;
}

/* line 81, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 86, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* line 91, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 96, ../sass/_reset.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 101, ../sass/_reset.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 110, ../sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font: normal normal 300 106.25%/1.5em "Yanone Kaffeesatz", "Open Sans", Arial, sans-serif;
  vertical-align: baseline;
  font-synthesis: none;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums diagonal-fractions;
  text-rendering: optimizeLegibility;
}

/* line 116, ../sass/_reset.scss */
a {
  color: #b6122d;
}
/* line 118, ../sass/_reset.scss */
a:hover {
  color: white;
}
/* line 121, ../sass/_reset.scss */
a:active {
  color: #b6122d;
}
/* line 124, ../sass/_reset.scss */
a:visited {
  color: #b6122d;
}
/* line 127, ../sass/_reset.scss */
a:visited:hover {
  color: white;
}

/* line 1, ../sass/persistent-grid/_behavior.scss */
.root, .com_content.article, .mainnav-list {
  display: block;
  margin: 0 auto;
  max-width: 1148px;
}

/* line 5, ../sass/persistent-grid/_behavior.scss */
.column, .full,
.collection-of-fulls > *, .fourth,
.collection-of-fourths > *, .half,
.collection-of-halfs > *, .three-fourth,
.collection-of-three-fourths > *, .component-output, .component-right, .breadcrumbs-list, .breadcrumb {
  display: inline-block;
  vertical-align: top;
  height: auto;
  padding-left: 12.75px;
  padding-right: 12.75px;
  width: 100%;
}

/* line 11, ../sass/persistent-grid/_behavior.scss */
.parent, .collection-of-fulls, .collection-of-fourths, .collection-of-halfs, .collection-of-three-fourths, .component-output, .component-right {
  padding-left: 0;
  padding-right: 0;
}

/* line 20, ../sass/persistent-grid/_behavior.scss */
.full,
.collection-of-fulls > * {
  width: 100%;
}

/* line 25, ../sass/persistent-grid/_behavior.scss */
.full.persistent,
.collection-of-fulls.persistent > * {
  width: 100% !important;
}

/* line 32, ../sass/persistent-grid/_behavior.scss */
.push-full {
  position: relative;
  left: 100%;
}

/* line 36, ../sass/persistent-grid/_behavior.scss */
.pull-full {
  position: relative;
  left: -100%;
}

/* line 20, ../sass/persistent-grid/_behavior.scss */
.fourth,
.collection-of-fourths > * {
  width: 25%;
}

/* line 25, ../sass/persistent-grid/_behavior.scss */
.fourth.persistent,
.collection-of-fourths.persistent > * {
  width: 25% !important;
}

/* line 32, ../sass/persistent-grid/_behavior.scss */
.push-fourth {
  position: relative;
  left: 25%;
}

/* line 36, ../sass/persistent-grid/_behavior.scss */
.pull-fourth {
  position: relative;
  left: -25%;
}

/* line 20, ../sass/persistent-grid/_behavior.scss */
.half,
.collection-of-halfs > * {
  width: 50%;
}

/* line 25, ../sass/persistent-grid/_behavior.scss */
.half.persistent,
.collection-of-halfs.persistent > * {
  width: 50% !important;
}

/* line 32, ../sass/persistent-grid/_behavior.scss */
.push-half {
  position: relative;
  left: 50%;
}

/* line 36, ../sass/persistent-grid/_behavior.scss */
.pull-half {
  position: relative;
  left: -50%;
}

/* line 20, ../sass/persistent-grid/_behavior.scss */
.three-fourth,
.collection-of-three-fourths > * {
  width: 75%;
}

/* line 25, ../sass/persistent-grid/_behavior.scss */
.three-fourth.persistent,
.collection-of-three-fourths.persistent > * {
  width: 75% !important;
}

/* line 32, ../sass/persistent-grid/_behavior.scss */
.push-three-fourth {
  position: relative;
  left: 75%;
}

/* line 36, ../sass/persistent-grid/_behavior.scss */
.pull-three-fourth {
  position: relative;
  left: -75%;
}

@media only screen and (max-width: 40em) {
  /* line 46, ../sass/persistent-grid/_behavior.scss */
  .root, .com_content.article, .mainnav-list {
    min-width: auto;
  }

  /* line 53, ../sass/persistent-grid/_behavior.scss */
  .full,
  .collection-of-fulls > * {
    width: 100%;
  }

  /* line 58, ../sass/persistent-grid/_behavior.scss */
  .push-full,
  .pull-full {
    left: 0;
  }

  /* line 53, ../sass/persistent-grid/_behavior.scss */
  .fourth,
  .collection-of-fourths > * {
    width: 100%;
  }

  /* line 58, ../sass/persistent-grid/_behavior.scss */
  .push-fourth,
  .pull-fourth {
    left: 0;
  }

  /* line 53, ../sass/persistent-grid/_behavior.scss */
  .half,
  .collection-of-halfs > * {
    width: 100%;
  }

  /* line 58, ../sass/persistent-grid/_behavior.scss */
  .push-half,
  .pull-half {
    left: 0;
  }

  /* line 53, ../sass/persistent-grid/_behavior.scss */
  .three-fourth,
  .collection-of-three-fourths > * {
    width: 100%;
  }

  /* line 58, ../sass/persistent-grid/_behavior.scss */
  .push-three-fourth,
  .pull-three-fourth {
    left: 0;
  }
}
/* line 10, ../sass/skin/_layout.scss */
.component.has-component-right .component-output {
  width: 62.5%;
}

/* line 14, ../sass/skin/_layout.scss */
.component-right {
  width: 25%;
  position: relative;
  left: 12.5%;
}

/* line 2, ../sass/skin/_typography.scss */
.item-title, .article-title,
.item-intro {
  font-weight: 400;
}

/* line 5, ../sass/skin/_typography.scss */
.item-title, .article-title {
  font-size: 1.41176em;
  line-height: 1.0625em;
  padding: 1.0625em 0;
}

/* line 1, ../sass/skin/components/_article.scss */
.article-title {
  padding-left: 12.75px;
  padding-right: 12.75px;
  font-size: 2.11765em;
  line-height: 1.41667em;
}

/* line 7, ../sass/skin/components/_article.scss */
.article-metadata,
.article-text {
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 100%;
  padding-left: 12.75px;
  padding-right: 12.75px;
}

/* line 11, ../sass/skin/components/_article.scss */
.article-metadata {
  width: 25%;
}

/* line 14, ../sass/skin/components/_article.scss */
.article-text {
  width: 75%;
}

/* line 19, ../sass/skin/components/_article.scss */
.has-component-right .article-metadata {
  width: 33.33333%;
}
/* line 22, ../sass/skin/components/_article.scss */
.has-component-right .article-text {
  width: 66.66667%;
}

/* line 4, ../sass/skin/modules/_breadcrumbs.scss */
.breadcrumbs {
  position: absolute;
  left: -9999px;
  display: block;
  margin: 0 auto;
  max-width: 1148px;
  margin-top: 3.75em;
  margin-bottom: 2.25em;
  font-size: 1.05882em;
  line-height: 1.41667em;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 13, ../sass/skin/modules/_breadcrumbs.scss */
.breadcrumbs a {
  text-decoration: none;
  color: inherit;
}

/* line 21, ../sass/skin/modules/_breadcrumbs.scss */
.breadcrumbs-list-item, .breadcrumb li {
  margin-top: 1.5em;
  display: inline;
}
/* line 27, ../sass/skin/modules/_breadcrumbs.scss */
.breadcrumbs-list-item.active a, .breadcrumb li.active a,
.breadcrumbs-list-item.active a:visited,
.breadcrumb li.active a:visited,
.breadcrumbs-list-item.active a:hover,
.breadcrumb li.active a:hover {
  color: #ffcc00;
}
/* line 35, ../sass/skin/modules/_breadcrumbs.scss */
.breadcrumbs-list-item a, .breadcrumb li a,
.breadcrumbs-list-item a:visited,
.breadcrumb li a:visited {
  color: #362f2d;
}
/* line 38, ../sass/skin/modules/_breadcrumbs.scss */
.breadcrumbs-list-item span, .breadcrumb li span {
  color: #ffcc00;
}

/* line 55, ../sass/skin/modules/_breadcrumbs.scss */
.red .breadcrumbs-list-item a, .red .breadcrumb li a, .breadcrumb .red li a,
.red .breadcrumbs-list-item a:visited,
.red .breadcrumb li a:visited,
.breadcrumb .red li a:visited,
.teal .breadcrumbs-list-item a,
.teal .breadcrumb li a,
.breadcrumb .teal li a,
.teal .breadcrumbs-list-item a:visited,
.teal .breadcrumb li a:visited,
.breadcrumb .teal li a:visited,
.brown .breadcrumbs-list-item a,
.brown .breadcrumb li a,
.breadcrumb .brown li a,
.brown .breadcrumbs-list-item a:visited,
.brown .breadcrumb li a:visited,
.breadcrumb .brown li a:visited {
  color: white;
}

/* line 62, ../sass/skin/modules/_breadcrumbs.scss */
.yellow .breadcrumbs-list-item span, .yellow .breadcrumb li span, .breadcrumb .yellow li span {
  color: #b6122d;
}

/* line 68, ../sass/skin/modules/_breadcrumbs.scss */
.breadcrumb .divider {
  position: relative;
  top: -0.04em;
  font-family: fontawesome;
  font-size: .8em;
  padding: 0 .5em;
}

@media only screen and (min-width: 700px) {
  /* line 78, ../sass/skin/modules/_breadcrumbs.scss */
  .breadcrumbs {
    position: static;
  }
}
/* line 1, ../sass/skin/modules/_label.scss */
.label {
  background: white;
  background: rgba(255, 255, 255, 0.2);
  padding-left: 12.75px;
  padding-right: 12.75px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.76471em;
  line-height: 1.96154em;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  text-decoration: none;
}
/* line 10, ../sass/skin/modules/_label.scss */
.label:hover {
  color: #362f2d !important;
}

/* line 4, ../sass/skin/modules/_mainnav.scss */
.mainnav {
  position: relative;
  z-index: 1;
  background: white;
  font-size: 1.05882em;
  line-height: 2.83333em;
  font-weight: 200;
  text-transform: uppercase;
}
/* line 12, ../sass/skin/modules/_mainnav.scss */
.mainnav a {
  text-decoration: none;
}

/* line 19, ../sass/skin/modules/_mainnav.scss */
.mainnav-list-item, .mainnav-list li {
  display: inline-block;
  vertical-align: top;
  height: auto;
  padding-left: 12.75px;
  padding-right: 12.75px;
}
/* line 23, ../sass/skin/modules/_mainnav.scss */
.mainnav-list-item.current a, .mainnav-list li.current a {
  font-weight: 400;
}
/* line 27, ../sass/skin/modules/_mainnav.scss */
.mainnav-list-item.current a, .mainnav-list li.current a,
.mainnav-list-item.current a:visited,
.mainnav-list li.current a:visited {
  color: #ffcc00;
}
/* line 35, ../sass/skin/modules/_mainnav.scss */
.mainnav-list-item a, .mainnav-list li a,
.mainnav-list-item a:visited,
.mainnav-list li a:visited {
  color: #362f2d;
}
/* line 39, ../sass/skin/modules/_mainnav.scss */
.mainnav-list-item a:hover, .mainnav-list li a:hover,
.mainnav-list-item a:visited:hover,
.mainnav-list li a:visited:hover {
  color: #ffcc00;
}

/* line 52, ../sass/skin/modules/_mainnav.scss */
.yellow .mainnav-list-item.current a, .yellow .mainnav-list li.current a, .mainnav-list .yellow li.current a {
  font-weight: 400;
}
/* line 56, ../sass/skin/modules/_mainnav.scss */
.yellow .mainnav-list-item.current a, .yellow .mainnav-list li.current a, .mainnav-list .yellow li.current a,
.yellow .mainnav-list-item.current a:visited,
.yellow .mainnav-list li.current a:visited,
.mainnav-list .yellow li.current a:visited {
  color: #b6122d;
}
/* line 61, ../sass/skin/modules/_mainnav.scss */
.yellow .mainnav-list-item a, .yellow .mainnav-list li a, .mainnav-list .yellow li a,
.yellow .mainnav-list-item a:visited,
.yellow .mainnav-list li a:visited,
.mainnav-list .yellow li a:visited {
  color: #362f2d;
}
/* line 65, ../sass/skin/modules/_mainnav.scss */
.yellow .mainnav-list-item a:hover, .yellow .mainnav-list li a:hover, .mainnav-list .yellow li a:hover,
.yellow .mainnav-list-item a:visited:hover,
.yellow .mainnav-list li a:visited:hover,
.mainnav-list .yellow li a:visited:hover {
  color: #b6122d;
}

/* line 1, ../sass/skin/modules/_page.scss */
.page {
  position: relative;
  padding-top: 3em;
  padding-bottom: 473px;
  background: #ffcc00;
}

/* line 9, ../sass/skin/modules/_page.scss */
.teal .page {
  background: #009999;
}

/* line 12, ../sass/skin/modules/_page.scss */
.brown .page {
  background: #362f2d;
}

/* line 15, ../sass/skin/modules/_page.scss */
.red .page {
  background: #b6122d;
}

/* line 20, ../sass/skin/modules/_page.scss */
.teal .page,
.brown .page,
.red .page {
  color: white;
}
/* line 22, ../sass/skin/modules/_page.scss */
.teal .page a,
.brown .page a,
.red .page a {
  color: #ffcc00;
}

@media only screen and (min-width: 700px) {
  /* line 28, ../sass/skin/modules/_page.scss */
  .page {
    position: relative;
    padding-top: 4.5em;
    background: #ffcc00 url(../images/yellow/bg.png);
  }

  /* line 33, ../sass/skin/modules/_page.scss */
  .teal .page {
    background: #009999 url(../images/teal/bg.png);
    color: white;
  }

  /* line 37, ../sass/skin/modules/_page.scss */
  .brown .page {
    background: #362f2d url(../images/brown/bg.png);
    color: white;
  }

  /* line 41, ../sass/skin/modules/_page.scss */
  .red .page {
    background: #b6122d url(../images/red/bg.png);
    color: white;
  }
}
/* line 1, ../sass/skin/modules/_pageheader.scss */
.pageheader-title {
  display: inline;
  position: absolute;
  top: 0;
  left: -0.05em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.11765em;
  line-height: 0.6375em;
  color: white;
}

@media only screen and (min-width: 700px) {
  /* line 12, ../sass/skin/modules/_pageheader.scss */
  .pageheader-title {
    top: -0.055em;
    font-size: 8em;
    line-height: 0.75em;
  }
}
/* line 1, ../sass/skin/modules/_sitefooter.scss */
.sitefooter {
  position: relative;
  background: white;
  font-size: 0.88235em;
  line-height: 1.7em;
}
/* line 5, ../sass/skin/modules/_sitefooter.scss */
.sitefooter a:hover {
  color: #362f2d;
}

/* line 9, ../sass/skin/modules/_sitefooter.scss */
.sitefooter-skyline {
  position: absolute;
  top: -422px;
  height: 422px;
  width: 100%;
  background: transparent url(../images/skyline.gif) repeat-x;
}

/* line 1, ../sass/skin/modules/_siteheader.scss */
.siteheader {
  background: white;
  font-size: 1.41176em;
  line-height: 2.125em;
}

/* line 5, ../sass/skin/modules/_siteheader.scss */
.siteheader-title {
  font-weight: 400;
}

/* line 9, ../sass/skin/modules/_siteheader.scss */
.siteheader-title,
.siteheader-subtitle {
  display: inline;
}

/* line 12, ../sass/skin/modules/_siteheader.scss */
.siteheader-subtitle {
  font-size: .7em;
  font-weight: 200;
  text-transform: uppercase;
}

/* line 18, ../sass/skin/modules/_siteheader.scss */
.siteheader hgroup,
.siteheader-logo {
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 100%;
  padding-left: 12.75px;
  padding-right: 12.75px;
}

/* line 21, ../sass/skin/modules/_siteheader.scss */
.siteheader-logo {
  position: absolute;
  z-index: -1;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  /* line 27, ../sass/skin/modules/_siteheader.scss */
  .siteheader {
    margin: 3.1875em 0 2.125em;
    font-size: 2.11765em;
    line-height: 1.41667em;
  }

  /* line 31, ../sass/skin/modules/_siteheader.scss */
  .siteheader hgroup {
    width: 75%;
    position: relative;
    left: -25%;
  }

  /* line 35, ../sass/skin/modules/_siteheader.scss */
  .siteheader-logo {
    z-index: 1;
    width: 25%;
    position: relative;
    left: 75%;
  }
  /* line 37, ../sass/skin/modules/_siteheader.scss */
  .siteheader-logo > img {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -12%;
    background: url(../images/logo.svg) no-repeat center;
    vertical-align: middle;
    border: 0;
  }
}
/* line 2, ../sass/skin/modules/_stream.scss */
.stream {
  display: block;
  margin: 0 auto;
  max-width: 1148px;
}

/* line 5, ../sass/skin/modules/_stream.scss */
.unit-set-subset {
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 100%;
  padding-left: 12.75px;
  padding-right: 12.75px;
}

/* line 8, ../sass/skin/modules/_stream.scss */
.unit-set-item {
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 50%;
  padding-left: 12.75px;
  padding-right: 12.75px;
  margin-bottom: 1.5em;
}

/* line 12, ../sass/skin/modules/_stream.scss */
.unit-set-subset.intro {
  position: absolute;
  left: -9999px;
}
/* line 15, ../sass/skin/modules/_stream.scss */
.unit-set-subset.intro .unit-set-item {
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 100%;
  padding-left: 12.75px;
  padding-right: 12.75px;
}

/* line 19, ../sass/skin/modules/_stream.scss */
.unit-set-subset {
  padding-left: 0;
  padding-right: 0;
}

/* line 22, ../sass/skin/modules/_stream.scss */
.streamheader {
  padding-left: 12.75px;
  padding-right: 12.75px;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background: #b6122d;
  color: white !important;
}
/* line 28, ../sass/skin/modules/_stream.scss */
.streamheader a {
  color: white !important;
  text-decoration: none;
}
/* line 31, ../sass/skin/modules/_stream.scss */
.streamheader a:hover {
  text-decoration: underline;
}

/* line 36, ../sass/skin/modules/_stream.scss */
.streamheader-title {
  overflow: hidden;
  height: 3em;
  min-height: 3em;
  max-height: 3em;
  font-size: 1.41176em;
  line-height: 1.0625em;
  font-weight: 400;
}

/* line 47, ../sass/skin/modules/_stream.scss */
.streamcontent {
  overflow: hidden;
  height: 12em;
  min-height: 12em;
  max-height: 12em;
  text-align: center;
}
/* line 53, ../sass/skin/modules/_stream.scss */
.streamcontent img {
  width: auto;
  height: 100%;
}

@media only screen and (min-width: 550px) {
  /* line 59, ../sass/skin/modules/_stream.scss */
  .yellow .featured {
    background: #ffcc00;
  }

  /* line 62, ../sass/skin/modules/_stream.scss */
  .red .featured {
    background: #b6122d;
  }

  /* line 65, ../sass/skin/modules/_stream.scss */
  .brown .featured {
    background: #362f2d;
  }

  /* line 68, ../sass/skin/modules/_stream.scss */
  .teal .featured {
    background: #009999;
  }

  /* line 74, ../sass/skin/modules/_stream.scss */
  .yellow .featured,
  .red .featured,
  .brown .featured,
  .teal .featured {
    background: rgba(255, 255, 255, 0.4);
  }

  /* line 78, ../sass/skin/modules/_stream.scss */
  .unit-set-subset,
  .unit-set-item {
    width: 50%;
  }

  /* line 81, ../sass/skin/modules/_stream.scss */
  .stream .unit-set-item {
    margin-bottom: 0;
  }

  /* line 85, ../sass/skin/modules/_stream.scss */
  .unit-set-item.double {
    width: 100%;
  }

  /* line 89, ../sass/skin/modules/_stream.scss */
  .unit-set-subset.intro {
    position: static;
  }
  /* line 91, ../sass/skin/modules/_stream.scss */
  .unit-set-subset.intro .unit-set-item {
    width: 75%;
  }
}
