/*
-----------------------------------------------------------------------------
Masthead
-----------------------------------------------------------------------------
*/

.masthead {
	position: relative;
	@include vertical-rhythm(8, padding-top);
}
	.masthead__title {
		text-align: center;
		@include adjust-font-size-to(72px, 3);
	}
	.masthead__tagline {
		@include adjust-font-size-to(36px, 3, 72px);
		@include font-weight($bree-serif-light);
		color: $got-it;
	}
	.masthead__logo {
		position: absolute;
		left: -.5em;
		top: -.4em;
	    height: 100%;
	    background: url(../images/crossinghippos.svg) no-repeat;
	}
		.no-svg .masthead__logo {
			background-image: url(../images/crossinghippos_x1.png);
		}


/*
-----------------------------------------------------------------------------
Align all elements at masthead level
-----------------------------------------------------------------------------
*/

.masthead-sibling {
	vertical-align: bottom;
}
	.masthead-sibling--icons {
		@include vertical-rhythm(2, line-height);
	}
	.masthead-sibling--links {
		position: relative;
		@include vertical-rhythm(-1, bottom);
	}



	/*
	-----------------------------------------------------------------------------
	Search box
	-----------------------------------------------------------------------------
	*/

	.form-search {
		position: absolute;
		@include vertical-rhythm(1, top);
	}