.masthead {
	text-align: center;
}
	.hd--masthead {
		@include adjust-font-size-to($xxxl, 3);
		text-decoration: none;
	}

	.masthead__tagline {
		@include adjust-font-size-to($xl);
		display: block;
		line-height: 1;
		color: $got-it--hex;
	}

	.masthead__link-list {
		background: $dirt--hex;
		width: 100%;
	}

	.masthead__logo {
	    background-image: url("../../../images/logo.svg");
	    height: 179px;
	    width: 76px;
	}


	.no-svg .masthead__logo {
		background-image: url(../../../images/crossinghippos_x1.png);
	}